body {
    background-color: rosybrown;
}

h1 {
    color : violet;
}

.myP {
    font-size: 30px;
    color : blanchedalmond;
}

.myBtn{
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    text-decoration: none;
    bottom: 20px;
}
