body{
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
}

#contenu{
    background-color: red; /* le style est surchargé (écrasé) plus bas*/
    border: 2px solid #000;
}

header, footer {
    height: 80px;
    background-color: blueviolet;
    color: antiquewhite;
    text-align: center;
    padding-top: 6px;
}

nav{
    height: 40px;
    background-color: aqua;
    color: blue;
    padding-left: 20px;
    padding-top: 6px;
}

section {
    border: 20px solid #060605;
    background-color: aliceblue;
    height: 500px;
    text-align: center;
}
